body{
}

.topnav {
	font-size: 13px;
	font-family: Arial;
	color: #0a0a0a;
	background: white;
	margin: 15px;
	display: grid;
	grid-template-columns: 1660px 50px 20px 125px;
	grid-gap: 10px;
}

.thefirstone {
	background: white;
	justify-self: end;
	align-self: center;
	padding-top: 9px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}

.appsicon {
	background: white;
	justify-self: center;
	align-self: center;
	padding-top: 7px;
	padding-right: 0px;
	padding-bottom: 8px;
	padding-left: 10px;
}

.thelastone {
	background: white;
	justify-self: center;
	align-self: center;
	padding-top: 7px;
	padding-right: 10px;
	padding-bottom: 8px;
	padding-left: 1px;
}

.signin {
	background-color:#166af0;
	border:1px solid #337fed;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:5px 10px;
	text-decoration:none;
	text-shadow:0px 1px 0px #1570cd;
}

.centralimage {
	margin: 0px 280px 30px 370px;
	padding: 120px 610px 0px 440px;
}