body{
}

.topnav {
	font-size: 13px;
	font-family: Arial;
	color: #0a0a0a;
	background: white;
	margin: 15px;
	display: grid;
	grid-template-columns: 1660px 50px 20px 125px;
	grid-gap: 10px;
}

.thefirstone {
	background: white;
	justify-self: end;
	align-self: center;
	padding-top: 9px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}

.appsicon {
	background: white;
	justify-self: center;
	align-self: center;
	padding-top: 7px;
	padding-right: 0px;
	padding-bottom: 8px;
	padding-left: 10px;
}

.thelastone {
	background: white;
	justify-self: center;
	align-self: center;
	padding-top: 7px;
	padding-right: 10px;
	padding-bottom: 8px;
	padding-left: 1px;
}

.signin {
	background-color:#166af0;
	border:1px solid #337fed;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:5px 10px;
	text-decoration:none;
	text-shadow:0px 1px 0px #1570cd;
}

.centralimage {
	margin: 0px 280px 30px 370px;
	padding: 120px 610px 0px 440px;
}

input[type=text] {
	border: 1px solid gray;
	border-radius: 25px;
	width: 418px;
	height: 20px;
	background-color: white;
	background-image: url('https://i.imgur.com/FtZml7A.png');
	background-position: 10px 8px;
	background-repeat: no-repeat;
	margin: 0px 240px 30px 660px;
	padding: 10px 100px 10px 50px;
	font-size: 16px;
	box-shadow: 0px 0px 5px LightGray;
}